* {
    box-sizing: border-box;
    transition: all 0.3s;
}
body, html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', Tahoma, sans-serif;
    font-size: 13px;
}

main#suma1 {
    background-color: rgb(16, 2, 58);
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

#forma_calculo {
    background-color: rgb(245, 245, 245);
    border-radius: 11px;
    height: 500px;
    margin: 0;
    padding: 17px;
    width: clamp(300px, 92%, 420px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

